@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #10002b;
  color: #fff;

  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: 'FredokaOne';
  src: url('/fonts/FredokaOne/FredokaOne-Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

* {
  font-family: 'FredokaOne';
  box-sizing: border-box;
}
